@{
}
<head>
    <link rel="stylesheet" href="~/Content/Styling/AdminUpdateDeletePartialViewStyling.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
</head>
<style>
    .scrollable-prerequisites {
        max-height:270px;
        max-width: 300px; 
        overflow-y: auto; 
        border: 1px solid #ddd;
        padding: 10px;
    }
</style>

<h3>Update Training</h3>
<button class="btn btn-primary" id="launchButton">
    Launch Automatic Enrolment Process
</button>
<div class="update-delete-training-container">
    <div class="row">
        <div class="col-md">
            <table cellspacing="10" cellpadding="10">
                <tr>
                    <th>Training Id</th>
                    <th>Training Name</th>
                    <th>Training Description</th>
                    <th>Training Status</th>
                    <th>Registration Dealine</th>
                    <th>Seats Total</th>
                    <th>Actions</th>
                </tr>
                @{
                    foreach (var training in ViewBag.ListOfTrainingWithPrerequisites)
                    {
                        <tr>
                            <td>@training.TrainingId</td>
                            <td>@training.TrainingName</td>
                            <td>@training.TrainingDescription</td>
                            <td>@training.TrainingStatus</td>
                            <td>@training.TrainingRegistrationDeadline</td>
                            <td>@training.SeatsTotal</td>
                            <td colspan="2">
                                <div class="accordion" id="accordionTraining_@training.TrainingId">
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@training.TrainingId" aria-expanded="false" aria-controls="collapse_@training.TrainingId" onclick="toggleButtonText(this)">
                                        Edit
                                    </button>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-danger" type="button" onclick="deleteTraining(@training.TrainingId)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <div id="collapse_@training.TrainingId" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <form class="training-update-form">
                                                <div class="row">
                                                    <div class="training-name-inputs col-md-6">
                                                        <label for="TrainingNameInput_@training.TrainingId">Training Name:</label>
                                                        <input type="text" id="TrainingNameInput_@training.TrainingId" value="@training.TrainingName" required>
                                                    </div>
                                                    <div class="training-description-inputs col-md-6">
                                                        <label for="TrainingDescription_@training.TrainingId">Training Description:</label>
                                                        <textarea id="TrainingDescription_@training.TrainingId" required>@training.TrainingDescription</textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="training-status-inputs  col-md-6">
                                                        <label for="input-training-status">Training Status: </label>
                                                        <select id="TrainingStatus_@training.TrainingId">
                                                            <option value="@training.TrainingStatus">@training.TrainingStatus</option>
                                                            @foreach (var status in ViewBag.ListOfTrainingStatus)
                                                            {
                                                                if (status == training.TrainingStatus)
                                                                {
                                                                    <option value="@status">@status</option>
                                                                }
                                                            }
                                                            @foreach (var status in ViewBag.ListOfTrainingStatus)
                                                            {
                                                                <option value="@status">@status</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="registration-deadline-inputs  col-md-6">
                                                        <label for="input-training-registration-deadline_@training.TrainingId">Training Registration Deadline: </label>
                                                        <input type="date" id="input-training-registration-deadline_@training.TrainingId" value="@training.TrainingRegistrationDeadline.ToString("yyyy-MM-dd")" required>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="training-seats-inputs  col-md-6">
                                                        <label for="input-training-seats">Training Seats: </label>
                                                        <input type="number" id="input-training-seats_@training.TrainingId" value="@training.SeatsTotal" required>
                                                    </div>
                                                    <div class="department-priority-inputs  col-md-6">
                                                        <label for="departmentpriority_@training.TrainingId">Training Priority: </label>
                                                        <select id="departmentpriority_@training.TrainingId" required>
                                                            @foreach (var department in ViewBag.ListOfDepartments)
                                                            {
                                                                if (department.DepartmentId == training.DepartmentPriority)
                                                                {
                                                                    <option value="@department.DepartmentId">@department.DepartmentName </option>
                                                                }
                                                            }
                                                            @foreach (var department in ViewBag.ListOfDepartments)
                                                            {
                                                                <option value="@department.DepartmentId">@department.DepartmentName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="coach-inputs  col-md-6">
                                                        <label for="coach-input_@training.TrainingId">Training Coach: </label>
                                                        <select id="coach-input_@training.TrainingId" required>
                                                            @foreach (var manager in ViewBag.ListOfManagers)
                                                            {
                                                                if (manager.UserId == training.CoachId)
                                                                {
                                                                    <option value="@manager.UserId">@manager.UserFirstName @manager.UserLastName</option>
                                                                }
                                                            }
                                                            @foreach (var manager in ViewBag.ListOfManagers)
                                                            {
                                                                <option value="@manager.UserId">@manager.UserFirstName @manager.UserLastName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="training-prerequisite-update-container col-md-4" id="training-prerequisite-update-container_@training.TrainingId">
                                            <div class="scrollable-prerequisites">
                                                @foreach (var prerequisite in ViewBag.ListOfPrerequisites)
                                                {
                                                    var isPrerequisiteSelected = false;
                                                    foreach (var selectedPrerequisite in training.PrerequisitesList)
                                                    {
                                                        if (selectedPrerequisite.PrerequisiteId == prerequisite.PrerequisiteId)
                                                        {
                                                            isPrerequisiteSelected = true;
                                                            break;
                                                        }
                                                    }
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input prerequisite-checkbox_@training.TrainingId" id="prerequisite-checkbox_@(training.TrainingId)"
                                                               value="@prerequisite.PrerequisiteId" @(isPrerequisiteSelected ? "checked" : "")>
                                                        <label class="form-check-label" for="prerequisite-checkbox_@(training.TrainingId)_@(prerequisite.PrerequisiteId)">
                                                            @prerequisite.PrerequisiteDescription
                                                        </label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <button class="btn btn-primary" type="button" onclick='updateTraining(@training.TrainingId)'>
                                            Save Changes
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

<script>
    function updateTraining(trainingId) {
        const selectedPrerequisites = [];
        $(`#training-prerequisite-update-container_${trainingId} input[type="checkbox"]:checked`).each(function () {
            selectedPrerequisites.push($(this).val());
        });
        const trainingData = {
            TrainingId: trainingId,
            TrainingName: document.getElementById(`TrainingNameInput_${trainingId}`).value,
            TrainingDescription: document.getElementById(`TrainingDescription_${trainingId}`).value,
            TrainingStatus: document.getElementById(`TrainingStatus_${trainingId}`).value,
            DepartmentPriority: document.getElementById(`departmentpriority_${trainingId}`).value,
            SeatsTotal: document.getElementById(`input-training-seats_${trainingId}`).value,
            CoachId: document.getElementById(`coach-input_${trainingId}`).value,
            TrainingRegistrationDeadline: document.getElementById(`input-training-registration-deadline_${trainingId}`).value,
            PrerequisiteIdList: selectedPrerequisites
        };
        fetch('/Training/UpdateTrainingAsync', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(trainingData),
        })
            .then(response => response.json())
            .then(data => {
                if (data.result) {
                    toastr.success(data.message, '', { timeOut: 1000, });
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                    return true;
                } else {
                    toastr.error(data.message, '', { timeOut: 1000, });
                    return false;
                }
            })
            .catch(error => {
                toastr.error("nternal server error" + error , '', { timeOut: 1000, });
                return false;
            });
    }
    function deleteTraining(trainingId) {
        fetch('/Training/DeleteTrainingAsync', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ trainingId: trainingId }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.result) {
                    toastr.success(data.message, '', { timeOut: 1000, });
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                    return true;
                } else {
                    toastr.error(data.message, '', { timeOut: 1000, });
                    return false;
                }
            })
            .catch(error => {
                toastr.error("Internal server error " + error, '', { timeOut: 1000, });
                return false;
            });
    }
    function toggleButtonText(button) {
        const buttonText = button.innerHTML.trim();

        if (buttonText === 'Edit') {
            button.innerHTML = 'Close';
        } else {
            button.innerHTML = 'Edit';
        }
    }
    document.getElementById('launchButton').addEventListener('click', function () {
        // Make a fetch call to the specified URL
        fetch('/Enrolment/AutomaticEnrolmentProcessingForAllTrainingAsync', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                // Add any additional headers if needed
            },
            // You can add a request body if needed
            // body: JSON.stringify({ key: 'value' })
        })
            .then(response => {
                // Check if the response is successful (status code 2xx)
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                // Parse the JSON response
                return response.json();
            })
            .then(data => {
                // Handle success, if needed
                console.log('Enrolment process triggered successfully.');
            })
            .catch(error => {
                // Handle error, if needed
                console.error('Error triggering enrolment process:', error);
            });
    });
</script>

