<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="~/Scripts/GetTrainingData/FetchPrerequisiteScript.js"></script>
    <script src="~/Scripts/ModalManipulation/ModalManipulationscript1.js"></script>
    <script src="~/Scripts/TrainingEnrollment/TrainingHandlerScript.js"></script>
    <link href="~/Content/Styling/EmployeeViewTrainingPartialviewStyling.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>
<div class="employee-view-training">
    <div class="row">
            <h3>Employee Training</h3>
        <div class="col-md">
            <table cellspacing="10" cellpadding="10" class="table table-hover employee-view-training">
                <thead class="thead-dark">
                    <tr>
                        <th>Status</th>
                        <th>Training Id</th>
                        <th>Training Name</th>
                        <th>Training Description</th>
                        <th>Registration Deadline</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                @{
                    foreach (var training in ViewBag.ListOfTrainings)
                    {
                        <tr>
                            <td>@training.TrainingStatus</td>
                            <td>@training.TrainingId</td>
                            <td>@training.TrainingName</td>
                            <td>@training.TrainingDescription</td>
                            <td>@training.TrainingRegistrationDeadline</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registrationModal" onclick='PopulateModal(@Session["CurrentUserId"], @Html.Raw(Json.Encode(training)))'>
                                    Enroll
                                </button>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrationModalLabel">Training Registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body" id="modalBody">
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

