@{
    ViewBag.Title = "ViewPendingEnrolments";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/Content/Styling/ManagerViewUpdateEnrolmentsPartialViewStyling.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
</head>
<div class="pending-enrolments-container">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>Enrolment Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Training Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var enrolment in ViewBag.ListOfEmployeeEnrolments)
            {
                <tr>
                    <td>@enrolment.UserId</td>
                    <td>@enrolment.EnrolmentId</td>
                    <td>@enrolment.UserFirstName</td>
                    <td>@enrolment.UserLastName</td>
                    <td>@enrolment.TrainingName</td>
                    <td>
                        <div class="accordion" id="accordionUser_@enrolment.EnrolmentId">
                            <button class="btn btn-primary" id="view-btn_@enrolment.EnrolmentId" type="button" data-toggle="collapse" data-target="#collapseUser_@enrolment.EnrolmentId" aria-expanded="false" aria-controls="collapseUser_@enrolment.EnrolmentId" onclick="FetchEnrolmentPrerequisites(@enrolment.EnrolmentId)">
                                View
                            </button>
                        </div>
                    </td>
                </tr>
                <tr colspan="6">
                    <td colspan="6">
                        <div id="collapseUser_@enrolment.EnrolmentId" class="collapse collapse-row-styling row" data-parent="#accordionUser_@enrolment.EnrolmentId">
                            <div class="view-prerequisites-list col-md-5" id="view-prerequisites-list_@enrolment.EnrolmentId">
                            </div>
                            <div class="decline-enrolement col-md-4" id="decline-enrolement_@enrolment.EnrolmentId">
                                <button class="btn btn-danger" onclick="openRejectModal(@enrolment.EnrolmentId,@enrolment.TrainingId,@enrolment.UserId)" @*onclick="RejectEnrolment(@enrolment.EnrolmentId,@enrolment.TrainingId,@enrolment.UserId)"*@>
                                    Reject
                                </button>
                            </div>
                            <div class="approve-enrolment col-md-3" id="approve-enrolment_@enrolment.EnrolmentId">
                                <button class="btn btn-success" onclick="ApproveEnrolment(@enrolment.EnrolmentId, @enrolment.UserId,@enrolment.TrainingId)">
                                    Approve
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rejectModalLabel">Reason for Rejection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Enrollment ID: <span id="enrollmentIdSpan"></span></p>
                <label for="rejectionReason">Enter your reason for rejection:</label>
                <textarea class="form-control" id="rejectionReason" rows="4"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submitRejectionbtn" data-dismiss="modal" @*onclick="handleRejection()"*@>Submit Rejection</button>
            </div>
        </div>
    </div>
</div>

<script>
    function openRejectModal(enrollmentId, trainingId, userId) {
        $('#enrollmentIdSpan').text(enrollmentId);
        console.log(enrollmentId, trainingId, userId);
        document.querySelectorAll('.submitRejectionbtn').forEach(function (button) {
            button.addEventListener('click', function () {
                var enrolmentId = this.getAttribute('data-enrolment-id');
                RejectEnrolment(enrollmentId, trainingId, userId);
            });
        });
        $('#rejectModal').modal('show');
    }
    function RejectEnrolment(enrolmentId, trainingId, userId) {
        var remarks = document.getElementById("rejectionReason").value.trim();
        if (remarks == '') {
            toastr.warning("Please fill in the remarks when rejecting an enrolment");
            return false;
        }
        fetch('/Enrolment/ManagerRejectEnrolmentAsync', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ enrolmentId: enrolmentId, remarks: remarks, trainingId: trainingId, userId: userId }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.result) {
                    $('#rejectModal').modal('hide');
                    toastr.success(data.message, '', { timeOut: 1000, });
                    setTimeout(() => {
                    window.location.reload();
                    }, 1000);
                } else {
                    toastr.warning(data.message);
                }
            })
            .catch(error => {
                toastr.error(error);
            });
    }
    function FetchEnrolmentPrerequisites(enrolmentId, userId, trainingId) {
        var btn = document.getElementById("view-btn_" + enrolmentId);
        const buttonText = btn.innerHTML.trim();
        if (buttonText === 'View') {
            btn.innerHTML = 'Close';
            fetch('/Enrolment/GetEnrolmentPrerequisitesByIdAsync', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ enrolmentId: enrolmentId, userId: userId, trainingId: trainingId }),
            })
                .then(response => response.json())
                .then(data => {
                    populatePrerequisites(data.EnrolmentPrerequisites, enrolmentId);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        } else {
            btn.innerHTML = 'View';
            clearPrerequisites(enrolmentId);
        }
    }
    function populatePrerequisites(prerequisites, enrolmentId) {
        var prerequisitesContainer = document.getElementById("view-prerequisites-list_" + enrolmentId);
        prerequisitesContainer.innerHTML = ''; // Clear previous content
        if (prerequisites.length == 0) {
            prerequisitesContainer.innerHTML = 'No prerequisites required for this training';
        }
        prerequisites.forEach((prerequisite, index) => {
            var div = document.createElement("div");
            div.className = "view-prerequisites";

            var label = document.createElement("label");
            label.innerText = "Prerequisite Name: " + (index + 1);

            var button = document.createElement("button");
            button.className = "btn btn-primary";
            button.innerText = "View";
            button.onclick = function () {
                window.open('/Training/GetFile?filePath=' + encodeURIComponent(prerequisite.FilePath), '_blank');
            };

            div.appendChild(label);
            div.appendChild(button);

            prerequisitesContainer.appendChild(div);
        });
    }
    function clearPrerequisites(enrolmentId) {
        var prerequisitesContainer = document.getElementById("view-prerequisites-list_" + enrolmentId);
        prerequisitesContainer.innerHTML = ''; // Clear content when closing
    }
    function ApproveEnrolment(enrolmentId, userId, trainingId) {
        fetch('/Enrolment/ManagerApproveEnrolmentAsync', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ enrolmentId: enrolmentId, userId: userId, trainingId: trainingId }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.result) {
                    toastr.success(data.message, '', { timeOut: 1000, });
                    setTimeout(() => {
                        window.location.reload();
                    }, 1000);

                } else {
                    toastr.warning(data.message);
                }
            })
            .catch(error => {
                toastr.error(error);
            });
    }
</script>
