@{
    ViewBag.Title = "AdminView";
    //Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" href="~/Content/Styling/AdminViewStyling.css">

<h2>Admin View</h2>


@Html.Partial("_AdminActivatePendingAcountsPartialView", new ViewDataDictionary { { "ListOfPendingUserAccounts", ViewBag.ListOfPendingUserAccounts }, { "ListOfDepartments", ViewBag.ListOfDepartments }, { "ListOfUserRoles", ViewBag.ListOfUserRoles }, { "ListOfManagers", ViewBag.ListOfManagers } })
@Html.Partial("_AdminCreateTrainingPartvialView", new ViewDataDictionary { { "ListOfDepartments", ViewBag.ListOfDepartments }, { "ListOfManagers", ViewBag.ListOfManagers }, { "ListOfTrainingStatus", ViewBag.ListOFTrainingStatus }, { "ListOfPrerequisites", ViewBag.ListOfPrerequisiteModel } })
@Html.Partial("_AdminCreatePrerequisitePartialView")
@Html.Partial("_AdminUpdateDeleteTrainingPartialView", new ViewDataDictionary { { "ListOfTrainingWithPrerequisites", ViewBag.ListOfTrainingWithPrerequisites }, { "ListOfTrainingStatus", ViewBag.ListOFTrainingStatus }, { "ListOfDepartments", ViewBag.ListOfDepartments }, { "ListOfManagers", ViewBag.ListOfManagers }, { "ListOfPrerequisites", ViewBag.ListOfPrerequisiteModel } })
@Html.Partial("_AdminUpdateEmployee", new ViewDataDictionary { { "ListOfUserModelsAndTheirRoles", ViewBag.ListOfUserModelsAndTheirRoles }, { "ListOfDepartments", ViewBag.ListOfDepartments }, { "ListOfManagers", ViewBag.ListOfManagers }, { "ListOfUserRoles", ViewBag.ListOfUserRoles } })