@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="~/Scripts/GetTrainingData/FetchPrerequisiteScript.js"></script>
<script src="~/Scripts/ModalManipulation/ModalManipulationscript.js"></script>
<script src="~/Scripts/TrainingEnrollment/TrainingHandlerScript.js"></script>
<h2>Employee view</h2>
<h2>@Session["CurrentUser"] is logged in</h2>

<div class="row">
    <div class="col-md">
        <table cellspacing="10" cellpadding="10">
            <tr>
                <th>Training Id</th>
                <th>Training Name</th>
                <th>Training Description</th>
                <th>Training Status</th>
                <th>Registration Dealine</th>
                <th>Seats Available</th>
                <th>Actions</th>
            </tr>
            @{
                foreach (var training in ViewBag.ListOfTrainings)
                {
                    <tr>
                        <td>@training.TrainingId</td>
                        <td>@training.TrainingName</td>
                        <td>@training.TrainingDescription</td>
                        <td>@training.TrainingStatus</td>
                        <td>@training.TrainingRegistrationDeadline</td>
                        <td>@training.SeatsAvailable</td>
                        <td>
                            <!-- Button to trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registrationModal" onclick='PopulateModal(@Html.Raw(Json.Encode(training)))'>
                                Enroll
                            </button>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

<!-- Registration Modal with File Upload -->
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrationModalLabel">Training Registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body" id="modalBody">
                    <!-- Registration form with file upload -->
                </div>
            </form>
            <div class="modal-footer">
                <button type='submit' class='btn btn-primary' data-dismiss="modal" onclick="EnrolEmployee()">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
